<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../IMAGEM/logopi.png">
        <title>Cadastro de Pacientes</title>
    </head>
    <body>
        <!-- Cabeçalho da página -->
        <header>
            <a href="Tela_P.html" > <img src="../IMAGEM/logoi.png" alt="Logo do Sistema de Gestão da clínica Santa Cruz"> </a>
                <h1>Cadastro de Pacientes</h1>
        </header>
        <!--navegação-->
        <aside>
        </aside>
        <!-- Conteúdo principal da página -->
        <main>
            <!-- Formulário de cadastro de pacientes -->
            <form>
                <fieldset>
                    <legend>Informações Pessoais</legend>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome completo" required><br>

                <label for="idade">Idade:</label>
                <input type="number" id="idade" name="idade" placeholder="Digite a idade" required><br>

                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo" required>
                    <option value="">Selecione</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select><br>

                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" placeholder="Digite o endereço" required><br>

                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" placeholder="Digite o telefone" required><br>

                <button type="submit">Cadastrar</button><br>
                <p> </p>
                <button type="button" onclick="window.location.href='../VIEW/paciente/Paciente.html'">VOLTAR</button>
            </fieldset>
            </form>
        </main>
        <!-- Rodapé da página -->
        <footer>
            <p>&copy; 2026 Santa Cruz. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>