<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Sistema de Gestão Hospitalar">
    <title>ENTRE</title>
  </head>
  <body>
    <img src="../IMAGEM/logo.png">
      <h1>LOGIN</h1>
  <label>Usuário:</label>
  <input type="email" id="username">
    <br>
  <label>Senha:</label>
  <input type="password" id="password">
    <br>
    <a href="Tela_P.html">ENTRAR</a>
  </body> 
</html>