<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Sistema de Gestão Hospitalar">
    <title>DASHBOARD</title>
</head>
<body>
  <header>
    <a><img src="../IMAGEM/logo.png"></a> 
    <h1>Área Principal</h1>
  </header>
  <main>
       <p><a href="../VIEW/paciente/Paciente.html">Pacientes</a></p>
          <p><a href="../VIEW/médico/Medico.html"> Médicos </a></p>
             <p><a href="../VIEW/internação/interna.html">Internações</a></p>
               <p><a href="../VIEW/consultas/consultas.html"> Consultas </a></p>
                 <p><a href="../VIEW/leitos/leito.html">Leitos</a></p>
                   <p><a href="../VIEW/protuário/protuario.html"> Prontuário </a></p>
                      <p><a href="../VIEW/farmácia/farma.html"> Farmácia </a></p>
                        <p><a href="../VIEW/laboratório/labo.html"> Laboratório </a></p><br>
                          <p><a href="Login.html"> SAIR </a></p>
  </main>
  <footer>
    <p>© 2026 Hospitalar. Todos os direitos reservados.</p>
  </footer>
</body>
</html>