<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de Gestão da clínica Santa Cruz">
    <title>Dashboard</title>
  </head>
  <body>
    <!-- Cabeçalho da página -->
    <header class="cabecalho">
      <img src="../IMAGEM/logo.png" alt="Logo do Sistema de Gestão da clínica Santa Cruz">
      <h1>Área Principal</h1>
    </header>
    <!-- Conteúdo principal da página -->
    <div>
      <aside class="barra-lateral">
        <nav>
          <ul>
            <li><button type="button" onclick="window.location.href='../VIEW/paciente/Paciente.html'">Pacientes</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/médico/Medico.html'">Médicos</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/internação/interna.html'">Internações</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/consultas/consultas.html'">Consultas</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/leitos/leito.html'">Leitos</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/protuário/protuario.html'">Prontuário</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/farmácia/farma.html'">Farmácia</button></li>
            <li><button type="button" onclick="window.location.href='../VIEW/laboratório/labo.html'">Laboratório</button></li>
            <li><button onclick="return confirm('Tem certeza que deseja sair?');"><a href="Login.html"> SAIR </a></button></li>
          </ul>
        </nav>
      </aside>
      <main class="dashboard-content">
      </main>
    </div>
    <!-- Rodapé da página -->
    <footer class="rodape">
        <p>&copy; 2026 Santa Cruz. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>