<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>
<body>
  <a><img src="../IMAGEM/logo.png"></a> 
    <h1>Área Principal</h1>
       <a href="../VIEW/paciente/Paciente.html">Pacientes</a><br>
          <a href="../VIEW/médico/Medico.html"> Médicos </a><br>
             <a href="../VIEW/internação/interna.html">Internações</a><br>
               <a href="../VIEW/consultas/consultas.html"> Consultas </a><br>
                 <a href="../VIEW/leitos/leito.html">Leitos</a><br>
                   <a href="../VIEW/protuário/protuario.html"> Prontuário </a><br>
                      <a href="../VIEW/farmácia/farma.html"> Farmácia </a><br>
                        <a href="../VIEW/laboratório/labo.html"> Laboratório </a><br>
  <a href="Login.html"> SAIR </a>
</body>
</html>