<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../IMAGEM/logopi.png">
        <title>Prontuário</title>
    </head>
    <body>
        <!-- Cabeçalho da página -->
        <header>
        <a href="../Tela_P.html"> <img src="../../IMAGEM/logoi.png"> </a>
              <h1>Prontuário</h1>
        </header>
        <!--navegação-->
        <aside>
        </aside>
        <!-- Conteúdo principal da página -->
        <main>
            <button type="button" onclick="window.location.href='../Tela_P.html'">VOLTAR</button>
        </main>
        <!-- Rodapé da página -->
        <footer>
            <p>&copy; 2026 Santa Cruz. Todos os direitos reservados.</p>
        </footer>
</body>
</html>