<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../IMAGEM/logopi.png">
    <title>Listagem de Pacientes</title>
</head>
<body>
    <!-- Cabeçalho com logo e título da página -->
    <header>
    <a href="../Tela_P.html"> <img src="../../IMAGEM/logoi.png"> </a>
        <h1>Listagem de Pacientes</h1>
    </header>
    <!--navegação-->
    <aside>
    </aside>
    <!-- Conteúdo principal da página -->
    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Yuki Silva</th>
                    <td>18</td>
                    <td>Masculino</td>
                    <td>Rua A, 123</td>
                    <td>(88) 1234-5678</td>
                </tr>
                <tr>
                    <th>Jaime Xavier</th>
                    <td>19</td>
                    <td>Masculino</td>
                    <td>Rua C, 789</td>
                    <td>(88) 5555-5555</td>
                </tr>
                <tr>
                    <th>Maria Oliveira</th>
                    <td>25</td>
                    <td>Feminino</td>
                    <td>Rua B, 456</td>
                    <td>(88) 8888-7777</td>
                </tr>
                <tr>
                    <th>João Guilherme</th>
                    <td>12</td>
                    <td>Masculino</td>
                    <td>Rua D, 1011</td>
                    <td>(88) 1111-2222</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Total de Pacientes: 03</td>
                </tr>
            </tfoot>
        </table>
        <button type="button" onclick="window.location.href='paciente.html'">VOLTAR</button>
    </main>
    <!-- Rodapé da página -->
    <footer>
        <p>&copy; 2026 Santa Cruz. Todos os direitos reservados.</p>
    </footer>
</body>
</html>