<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../IMAGEM/logopi.png">
    <title>Pacientes</title>
    </head>
    <body>
        <!-- Cabeçalho da página -->
        <header>
            <a href="../Tela_P.html" ><img src="../..//IMAGEM/logoi.png" alt="Logo do Sistema de Gestão da clínica Santa Cruz"> </a>
            <h1>Pacientes</h1>
        </header>
        <!--navegação-->
        <aside>
        </aside>
        <!-- Conteúdo principal da página -->
        <main>
            <button onclick="window.location.href='cad.html'">Cadastrar Paciente</button><br>
            <button onclick="window.location.href='listpac.html'">Listar Pacientes</button><br>
            <button type="button" onclick="window.location.href='../Tela_P.html'">VOLTAR</button>
        </main>
        <!-- Rodapé da página -->
        <footer>
            <p>&copy; 2026 Santa Cruz. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>